@font-face {
  font-family: 'Monocraft';
  src: url('./assets/fonts/minecraft.ttf');
}

html
{
  height: 100%;
}

*{
  -webkit-tap-highlight-color: transparent;
}

body
{
  background: -webkit-linear-gradient(330deg, #000000,#18b9a1,#44e6cf) no-repeat;
  background: linear-gradient(330deg, #000000,#18b9a1,#44e6cf) no-repeat;
  font-family: "Monocraft", sans-serif;
  color: #000000;
}

a{
  font-size: 65px;
  text-decoration: none;
  color: #000000;
}

a:visited
{
  text-decoration: none;
  color: #000000;
}

.clicker{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 50px 0 50px;
}

.clickerButton
{
  position: relative;
  border: none;
  outline: none;
  width: 30vw;
  cursor: none;
  background: transparent;
}

.clickerButton:active
{
  filter: invert(25%) sepia(85%) saturate(5517%) hue-rotate(347deg) brightness(94%) contrast(95%);
}

.soundButton
{
  border: none;
  outline: none;
  width: 60px;
  cursor: pointer;
  background: transparent;
}

button img
{
  cursor: pointer;
  background: transparent;
  outline: none !important;
  border: none !important;
  appearance: none !important;
  width: 100%;
}

.clickerSpan
{
  font-size: 64px;
  font-weight: bold;
  width: max-content;
  height: max-content;
  text-align: center;
  float: right;
}

.Card img
{
  width: 150px;
}

.cardSection
{
  display: flex;
  flex-gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 40px;
  text-align: center;
  margin: 0;
}

.main_menu
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.main_menu h1
{
  font-size: 84px;
}

.main_menu_button {
  font-family: "Monocraft", sans-serif;
  outline: none;
  border-radius: 10px;
  width: max-content;
  padding: 20px;
}

progress
{
  height: 30px;
  width: 50%;
  border: 3px solid #000000;
  border-radius: 20px;
  margin: 10px 0;
}

progress::-webkit-progress-value
{
  border-radius: 20px;
  transition: 0.25s ease-in-out;
}

progress.red::-webkit-progress-value{
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(234,32,39,1) 0%, rgba(235,47,6,1) 50%, rgba(255,56,56,1) 87%);
}
progress.yellow::-webkit-progress-value{
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(247,159,31,1) 0%, rgba(255,195,18,1) 35%, rgba(238,90,36,1) 100%);
}
progress.green::-webkit-progress-value{
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(14,134,72,1) 0%, rgba(15,138,25,1) 50%, rgba(29,103,30,1) 87%);
}

progress::-webkit-progress-bar
{
  border-radius: 20px;
  background-color: #000000;
}


@media screen and (max-width: 799px)
{
  .clickerButton
  {
    position: relative;
    border: none;
    outline: none;
    width: 100%;
    cursor: none;
    background: transparent;
    appearance: none;
  }

  button img
  {
    cursor: pointer;
    background: transparent;
    width: 100%;
    -webkit-user-select: none; /* Для Safari */
    user-select: none;
    outline: none;
    -webkit-appearance: none !important;
    border: none !important;
    appearance: none !important;
  }

  .Card img
  {
    width: 100px;
  }

  .cardSection
  {
    display: flex;
    flex-gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p{
    font-size: 36px;
    text-align: center;
    margin: 0;
  }

  a{
    font-size: 48px;
    text-decoration: none;
    color: #000000;

  }

{
  border: none;
  outline: none;
  width: 30px;
  cursor: pointer;
  background: transparent;
}

  .header
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 25px 0 25px;
  }

  .main_menu h1
  {
    font-size: 64px;
  }
}